.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.font-20 {
  font-size: 2rem; }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  font-weight: 500;
  font-family: sans-serif;
  color: #1a1a1a;
  font-size: 1.6rem; }

@keyframes animateThirdCircle {
  0%, 50% {
    transform: translate(-50%, -50%) scale(1); }
  50%, 100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0; } }

@keyframes animateSecondCircle {
  0%, 20% {
    transform: translate(-50%, -50%) scale(1); }
  80%, 100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0; } }

@keyframes animateFirstCircle {
  0%, 40% {
    transform: translate(-50%, -50%) scale(1); }
  90%, 100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0; } }

@keyframes animateBackground {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

.section {
  height: 100vh;
  width: 100%; }

.preloader {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(0.3rem);
  transition: all 0.5s;
  animation: animateBackground 0.5s linear; }
  .preloader__icon, .preloader__icon-box {
    width: 11.8rem;
    height: 11.8rem; }
  .preloader__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; }
  .preloader__img {
    width: 11.8rem;
    height: 11.8rem; }
  .preloader__bg {
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
    height: inherit;
    width: inherit; }
  .preloader__circle {
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    height: 11.8rem;
    width: 11.8rem; }
    .preloader__circle--1 {
      border: 0.3rem solid rgba(0, 0, 67, 0.4);
      animation: animateFirstCircle 1.5s ease-out infinite; }
    .preloader__circle--2 {
      border: 0.2rem solid rgba(0, 0, 67, 0.4);
      animation: animateSecondCircle 1.5s ease-out infinite; }
    .preloader__circle--3 {
      border: 0.1rem solid rgba(0, 0, 67, 0.4);
      animation: animateThirdCircle 1.5s ease-out infinite; }

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }
  .pop-up__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.4);
    cursor: pointer; }
  .pop-up.opened {
    opacity: 1;
    visibility: visible; }
    .pop-up.opened .pop-up__content {
      transform: scale(1); }
  .pop-up__icon {
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
    font-weight: bold;
    font-style: normal;
    cursor: pointer; }
  .pop-up__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80vh;
    padding: 5rem;
    border-radius: 2rem;
    background-color: #ffffff;
    transform: scale(0.25);
    transition: all 0.5s; }
  .pop-up__title {
    font-weight: bold; }
  .pop-up__paragraph {
    text-align: center;
    line-height: 1.4; }
    .pop-up__paragraph span {
      background-color: #eeeeee;
      border-radius: 50%;
      padding: 0 0.4rem;
      cursor: pointer;
      transition: all 0.5s; }
      .pop-up__paragraph span:hover {
        background-color: #d5d5d5; }
  .pop-up__btn {
    font-size: inherit;
    border: unset;
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
    border: 0.1rem solid transparent; }
    .pop-up__btn--bg {
      background: #000000;
      color: #ffffff; }
      .pop-up__btn--bg:hover {
        background: #eeeeee;
        color: #000000; }
    .pop-up__btn--nobg {
      background: unset; }
      .pop-up__btn--nobg:hover {
        border: 0.1rem solid #1a1a1a; }

.btn-black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  border: unset;
  font-size: 2rem;
  border-radius: 10rem;
  color: #ffffff;
  padding: 1rem 2rem;
  cursor: pointer; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes moveInRightLine {
  0% {
    transform: translateY(-50%) translateX(-100%);
    opacity: 1; }
  100% {
    transform: translateY(-50%) translateX(0);
    opacity: 1; } }

@keyframes freeze {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(0); }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0); } }

@keyframes moveInRightOverflow {
  0% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(10%); } }

@keyframes goFurtherOverflow {
  0% {
    opacity: 1;
    transform: translateY(-50%) translateX(10%); }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(100%); } }

@keyframes moveInRightIcon {
  0% {
    opacity: 1; }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes freezeIcon {
  0% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes moveInRightOverflowIcon {
  0% {
    opacity: 1; }
  100% {
    left: 110%;
    opacity: 1; } }

@keyframes preloaderEnd {
  100% {
    transform: translateX(100%); } }

.linear-preloader {
  position: fixed;
  z-index: 10000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  animation: preloaderEnd 1s 3.5s forwards;
  backdrop-filter: blur(1rem);
  transition: all 0.5s; }
  .linear-preloader__bg {
    background: rgba(255, 255, 255, 0.9);
    transform-origin: right;
    transition: all 0.5s;
    height: inherit;
    width: inherit;
    animation: moveInRight .5s ease-out; }
  .linear-preloader__icon {
    font-size: 3.2rem;
    white-space: nowrap;
    color: #ffffff; }
    .linear-preloader__icon--first {
      left: 0;
      transform: translate(-100%, -50%);
      animation: moveInRightIcon .5s ease-out 1s;
      opacity: 0; }
    .linear-preloader__icon--second {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      animation: freezeIcon 1s 1.5s; }
    .linear-preloader__icon--third {
      transform: translate(-50%, -50%);
      opacity: 0;
      left: 50%;
      animation: moveInRightOverflowIcon .5s ease-out 2.5s; }
  .linear-preloader__icon, .linear-preloader__line {
    position: absolute;
    top: 50%; }
  .linear-preloader__line {
    background-color: #000043;
    height: 11.8rem;
    width: 100%;
    transition: all 0.5s; }
    .linear-preloader__line--first {
      animation: moveInRightLine .5s ease-out .5s;
      transform: translateY(-50%) translateX(-100%);
      opacity: 0; }
    .linear-preloader__line--second, .linear-preloader__line--third, .linear-preloader__line--fourth {
      opacity: 0; }
    .linear-preloader__line--second {
      animation: freeze 1s 1s; }
    .linear-preloader__line--third {
      animation: moveInRightOverflow .5s 2s;
      transform: translateY(-50%) translateX(0); }
    .linear-preloader__line--fourth {
      animation: goFurtherOverflow .5s ease-out 2.5s; }

.btn {
  font-size: 3.6rem;
  position: absolute;
  top: 10%;
  left: 2%; }
